*:focus {
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.title {
    margin: 50px 0 20px 0;
    font-size: 4em;
    font-weight: bold;
}

.bank__ref {
    font-size: 2em;
}

button {
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: darkcyan;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.5em;
    margin: 20px;
}

button:hover {
    box-shadow: 0 0 5px darkcyan;
}

button:active {
    box-shadow: 0 0 5px lightcyan;
}

button:disabled {
    box-shadow: none;
}

input, .result, select {
    height: 50px;
    width: 100px;
    margin: 10px;
    text-align: right;
    font-size: 1.5em;
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 25px;
}

#amount, #result {
    width: 200px;
}

#button_revert {
    width: 50px;
    padding: 0;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
}

#revert_icon {
    width: 30px;
    height: 30px;
    padding: 10px;
    fill: white;
    transform: rotate(0deg);
}

.result {
    line-height: 2;
    background-color: rgb(245, 245, 245);
    padding: 0 10px;
}

.converter {
    text-align: center;
    padding: 30px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    background-color: white;
    max-width: 1100px;
    margin: 0 auto;
}

.bank__ref a {
    color: black;
}

.converter__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.converter__selectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

#date, #base__curr {
    display: inline;
}

#myList {
    display: none;
    list-style: none;
}

.rates__button {
    background-color: white;
    border: 1px solid darkcyan;
    color: darkcyan;
}

#currencyfrom, #amount, #currencyto {
    padding: 0 10px;
}

select:default {
    color: gray;

}

*:disabled {
    background-color: rgb(231, 231, 231);
    color: gray;
}

